@import url('https://fonts.googleapis.com/css?family=Raleway:500,600,700&display=swap');

@font-face {
    src: url('../fonts/ONEDAY.otf');
}

@font-face {
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
    src: url('../fonts/Raleway-SemiBold.ttf');
}

* {
    primaryColor: #7540EE;
    primaryColor10: rgba(117, 64, 238, .1);
    primaryColor20: rgba(117, 64, 238, .2);
    primaryColor15: rgba(117, 64, 238, .15);
    primaryDarkColor: #25265E;
    primaryDarkColor25: rgba(37, 38, 94, .25);
    primaryLightColor: #C2ABF5;

    secondaryColor: #DFDFE4;

    primaryTextColor: #787993;
    secondaryTextColor: #ffffff;

    shadowColor: rgba(37, 38, 94, .1);
    lineColor: #F1F1F5;
    borderColor: #ECECEE;

    -style1-color: primaryColor !important;

    -jfx-default-color: primaryColor;
    -fx-accent: primaryColor;
    -fx-effect: none !important;
    -fx-font-weight: normal !important;

    -fx-font-smoothing-type: gray;
    -fx-smooth: true;
}

.fs-8, .boxCircle {
    -fx-font-family: 'Raleway SemiBold', sans-serif;
    -fx-text-fill: secondaryTextColor;
    -fx-font-size: 8;
}

.fs-10, .entriesBox {
    -fx-font-family: 'Raleway SemiBold', sans-serif;
    -fx-text-fill: secondaryTextColor;
    -fx-font-size: 10;
}

.fs-12, .subMiddle, .boxCircleBig, .gradeAverage, .floatLabel, .style1-entry-time-label, .style1-entry-title-label, .sideBarLabel, .timelineLabel, .quizSub {
    -fx-font-family: 'Raleway SemiBold', sans-serif;
    -fx-text-fill: primaryColor;
    -fx-font-size: 12;
}

.fs-14, .notifications, .boxMiddle, .boxMiddleSemi, .jfx-dialog-layout > .jfx-layout-body Label, .date-picker-popup .spinner-label, .jfx-popup-container .jfx-list-view .jfx-list-cell .text, .combo-box-popup .list-view .list-cell, .profileSecondLabel, .time-scale Label, .weekday-header-view {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-text-fill: secondaryTextColor;
    -fx-font-size: 14;
}

.fs-16, .button, .text-field, .underline, .boxTop, .jfx-dialog-layout > .jfx-layout-heading Label, .secondaryButton, .combo-box, .notesTitle, .gradeSubject, .profileTitle, .profileLabel, .logoutLabel, .checkboxComponent, .gradesLabelArea {
    -fx-font-family: 'Raleway Medium', sans-serif;
    -fx-text-fill: primaryTextColor;
    -fx-font-size: 16;
}

.fs-18, .questions {
    -fx-font-family: 'Raleway SemiBold', sans-serif;
    -fx-text-fill: primaryColor;
    -fx-font-size: 18;
}

.fs-22 {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-text-fill: primaryDarkColor;
    -fx-font-size: 22;
}

.fs-24, .logo, .profileName {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-text-fill: primaryDarkColor;
    -fx-font-size: 24;
}

.transparent-context-menu {
    -fx-background-color: transparent;
}

.hand, .jfx-check-box, .homeIcon, .button, .underline, .logo, .bigLogoEdit, .boxCircle, .boxCircleBig, .jfx-date-picker .date-picker-popup .calendar-grid .day-cell:hover, .jfx-date-picker .data-picker-list-cell:hover, .logoutLabel, .navigationBarIcon, .sideBarItem, .quizBox {
    -fx-cursor: hand;
    -fx-text-fill: primaryColor;
}

.icon, .sideIcon {
    -fx-fill: primaryColor;
}

.sideIcon {
    -fx-rotate: 90;
}

.underline {
    -fx-border-color: primaryColor15, primaryColor15, transparent;
    -fx-border-width: 0 0 1 0, 0 0 1 0, 0 0 1 0;
    -fx-border-insets: 0 0 1 0, 0 0 2 0, 0 0 3 0;
}

.text-field, .combo-box {
    -fx-prompt-text-fill: secondaryColor;
    -fx-border-color: transparent !important;
    -jfx-label-float: true;
    -jfx-focus-color: primaryColor;
    -jfx-unfocus-color: secondaryColor;
    -fx-background-color: secondaryTextColor;
}

.button, .button:hover, .button:pressed {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-background-radius: 50;
    -fx-padding: 12 24 12 24;
    -fx-background-color: primaryColor20;
}

.secondaryButton, .secondaryButton:hover, .secondaryButton:pressed {
    -fx-font-family: 'Raleway SemiBold', sans-serif;
    -fx-text-fill: secondaryTextColor;
    -fx-background-radius: 10;
    -fx-background-color: primaryColor;
}

.notifications {
    -fx-padding: 4 12 4 12;
    -fx-background-color: primaryColor;
    -fx-background-radius: 16;
    -fx-effect: dropshadow(three-pass-box, primaryColor10, 2, 1, 0, 0) !important;
}

.logo, .bigLogo, .homeIcon {
    -fx-font-family: 'ONEDAY';
    -fx-background-radius: 50;
}

.logo, .homeIcon {
    -fx-alignment: CENTER;
    -fx-text-fill: secondaryTextColor;
    -fx-background-color: primaryColor;
}

.bigLogo {
    -fx-text-fill: primaryColor;
    -fx-background-color: secondaryTextColor;
    -fx-font-size: 50;
    -fx-min-width: 80;
    -fx-min-height: 80;
}

.editIcon {
    -fx-fill: primaryColor;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.bigLogoEdit {
    -fx-background-radius: 50;
    -fx-background-color: secondaryTextColor;
    -fx-min-width: 34;
    -fx-min-height: 34;
    -fx-effect: innershadow(three-pass-box, primaryColor, 2, 1, 0, 0) !important;
}

.jfx-hamburger StackPane {
    -fx-background-color: primaryDarkColor;
    -fx-background-radius: 50;
    -fx-max-width: 4;
    -fx-spacing: 2;
}

.jfx-hamburger, .jfx-rippler {
    -fx-alignment: CENTER-RIGHT;
    -jfx-rippler-fill: secondaryTextColor;
}

.navigationBar {
    -fx-alignment: BOTTOM-CENTER;
    -fx-background-color: primaryColor;
}

.navigationBarIcon, .addIcon, .checkIcon {
    -fx-fill: secondaryTextColor;
}

.navigationButton {
    -fx-alignment: CENTER;
    -fx-pref-width: 54;
}

.homeIcon, .navigationBar {
    -fx-max-height: 54;
    -fx-min-height: 54;
}

.homeIcon {
    -fx-background-color: primaryColor;
    -fx-background-radius: 50;
    -fx-max-width: 54;
    -fx-min-width: 54;
}

.boxContent, .jfx-dialog-overlay-pane > StackPane, .jfx-popup-container, .quizBox {
    -fx-effect: dropshadow(three-pass-box, shadowColor, 24, 0, 0, 4) !important;
}

.boxContent {
    -fx-background-color: primaryColor, secondaryTextColor;
    -fx-background-radius: 5 50 50 5, 0 5 5 0;
    -fx-pref-width: 311;
    -fx-padding: 16 17 16 22;
    -fx-background-insets: 0, 0 0 0 6;
}

.boxTop, .jfx-dialog-layout > .jfx-layout-heading Label, .notesTitle, .gradeSubject, .profileLabel, .weekday-header-view, .gradesLabelArea, .questions {
    -fx-font-family: 'Raleway SemiBold', sans-serif;
    -fx-text-fill: primaryDarkColor;
}

.jfx-layout-body JFXTextField, .jfx-layout-body JFXComboBox {
    -fx-font-size: 14 !important;
}

.jfx-layout-body {
    -fx-max-width: Infinity;
}

.jfx-dialog-layout > .jfx-layout-body Label, .boxMiddle, .boxMiddleSemi, .subMiddle {
    -fx-font-family: 'Raleway Medium', sans-serif;
    -fx-text-fill: primaryTextColor;
}

.boxMiddle, .boxMiddleSemi, .subMiddle {
    -fx-max-width: 228;
    -fx-wrap-text: true;
}

.boxMiddleSemi {
    -fx-font-family: 'Raleway SemiBold', sans-serif;
    -fx-text-fill: primaryDarkColor;
}

.boxCircle, .boxCircleBig {
    -fx-background-radius: 50;
    -fx-text-fill: secondaryTextColor;
    -fx-background-color: primaryColor;
}

.boxCircle {
    -fx-min-width: 24;
    -fx-min-height: 24;
}

.boxCircleBig {
    -fx-min-width: 40;
    -fx-min-height: 40;
}

.entriesBox {
    -fx-padding: 5 6 5 6;
    -fx-background-color: primaryColor;
    -fx-background-radius: 50;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.jfx-dialog-overlay-pane {
    -fx-background-color: transparent;
}

.jfx-dialog-overlay-pane > StackPane {
    -fx-padding: 16;
    -fx-background-color: secondaryTextColor;
    -fx-background-radius: 5;
}

.jfx-dialog-layout > .jfx-layout-heading, .jfx-dialog-layout > .jfx-layout-actions {
    -fx-alignment: CENTER;
    -fx-padding: 0;
}

.jfx-dialog-layout > .jfx-layout-body {
    -fx-padding: 16 0 24 0;
}

.combo-box {
    -fx-max-width: Infinity;
    -fx-padding: 0 5 0 5;
}

.combo-box-base .arrow, .combo-box-base:focused .arrow {
    -fx-shape: "M2462.656-371.929l-4.267-4.268-4.268,4.268a1,1,0,0,1-1.414,0,1,1,0,0,1,0-1.415l4.95-4.949a1,1,0,0,1,.732-.293,1,1,0,0,1,.732.293l4.95,4.949a1,1,0,0,1,0,1.415,1,1,0,0,1-.707.293A1,1,0,0,1,2462.656-371.929Z";
    -fx-background-color: primaryColor;
}

.combo-box-base:focused .arrow {
    -fx-rotate: 180;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: secondaryTextColor;
    -fx-border-width: 1;
    -fx-border-color: derive(secondaryColor, 50%);
    -fx-padding: 5;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-text-fill: primaryColor;
}

.combo-box .list-cell {
    -fx-text-fill: primaryTextColor;
    -fx-background-color: secondaryTextColor;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.jfx-popup-container .jfx-list-view .jfx-list-cell {
    -fx-background-color: secondaryTextColor;
}

.jfx-popup-container .jfx-list-view .jfx-list-cell .text, .combo-box-popup .list-view .list-cell, .gradeAverage, .profileSecondLabel {
    -fx-font-family: 'Raleway Medium', sans-serif;
    -fx-text-fill: primaryTextColor;
}

.scroll-bar, .scroll-bar:horizontal .track, .scroll-bar:vertical .track, .scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button, .scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-border-color: transparent;
    -fx-border-radius: 2em;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0 0 8 0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-padding: 0 8 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: .15em 0;
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0 .15em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb, .scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
    -fx-background-color: primaryColor;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.menu-item:focused, .my-custom-color:focused, .my-custom-color:selected {
    -fx-background-color: transparent;
}

.my-custom-color {
    -fx-background-color: secondaryTextColor;
    -fx-background-radius: 14;
    -fx-padding: 10;
    -fx-min-width: 320;
    -fx-max-width: 320;
    -fx-effect: dropshadow(three-pass-box, shadowColor, 8, 0, 0, 2) !important;
}

.my-custom-color > .color-rect-pane {
    -fx-spacing: 12;
    -fx-pref-height: 232;
    -fx-fill-height: true;
}

.my-custom-color > .color-rect-pane #color-rect-indicator, .my-custom-color > .color-rect-pane > .color-bar > #color-bar-indicator {
    -fx-border-radius: 50;
    -fx-border-color: secondaryTextColor;
    -fx-border-width: 3;
    -fx-pref-width: 18;
    -fx-pref-height: 18;
    -fx-effect: dropshadow(three-pass-box, shadowColor, 2, 0, 0, 1) !important;
}

.my-custom-color > .color-rect-pane #color-rect-indicator, .my-custom-color > .color-rect-pane > .color-bar > #color-bar-indicator {
    -fx-background-color: null;
    -fx-translate-x: -6.5;
    -fx-translate-y: -6.5;
}

.my-custom-color .color-rect-pane .color-rect, .my-custom-color > .color-rect-pane > .color-bar {
    -fx-min-width: 232;
    -fx-max-width: 232;
}

.my-custom-color > .color-rect-pane > .color-bar {
    -fx-min-height: 26;
    -fx-max-height: 26;
}

.profileHeader, .quizLine {
    -fx-background-color: primaryColor;
}

.profileName {
    -fx-text-fill: secondaryTextColor;
}

.profileTitle {
    -fx-text-fill: primaryLightColor;
}

.floatLabel {
    -fx-text-fill: primaryTextColor;
}

.lineBackground {
    -fx-background-color: lineColor;
}

.logoutLabel {
    -fx-font-family: 'Raleway SemiBold', sans-serif;
    -fx-text-fill: primaryColor;
}

.box, .jfx-check-box .indeterminate-mark {
    -fx-min-width: 24;
    -fx-min-height: 24;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-border-color: borderColor;
}

.jfx-check-box {
    -fx-text-fill: transparent;
    -jfx-checked-color: transparent;
    -jfx-unchecked-color: borderColor;
    -fx-border-width: 1;
}

.jfx-check-box .mark {
    -fx-shape: "M10.187,10.681l-5.2-8.007-3.244,3.6A1,1,0,0,1,.257,4.938L4.405.331A1,1,0,0,1,5.749.2a2.814,2.814,0,0,1,.582.779l5.533,8.613a1,1,0,1,1-1.678,1.089Z";
    -fx-background-color: primaryColor;
    -fx-border-color: primaryColor;
    -fx-rotate: 180;
}

.time-scale > .current-time-label, .weekday-header-view > .container > .today {
    -fx-text-fill: primaryColor;
}

.time-scale > .time-label {
    -fx-text-fill: transparent;
}

.current-time-circle {
    -fx-fill: primaryColor;
    -fx-stroke: primaryColor;
}

.current-time-line {
    -fx-stroke: primaryColor;
}

.day-view > .half-hour-line, .day-view > .full-hour-line {
    -fx-stroke: transparent;
}

.start-time-label {
    -fx-text-fill: transparent !important;
}

.date-hyperlink {
    -fx-text-fill: primaryDarkColor;
}

.style1-entry, .style1-entry:selected {
    -fx-border-width: 0;
    -fx-background-color: primaryColor, secondaryTextColor;
    -fx-background-radius: 5, 0 2 2 0;
    -fx-padding: 4 0 0 4;
    -fx-background-insets: 0, 5 5 5 8;
    -fx-effect: innershadow(three-pass-box, secondaryTextColor, 2, 1, 0, 0) !important;
}

.style1-entry-time-label, .style1-entry-title-label {
    -fx-font-family: 'Raleway Medium', sans-serif;
    -fx-text-fill: primaryDarkColor;
}

.sideBar {
    -fx-background-color: primaryColor;
}

.sideBarLogo {
    -fx-background-color: primaryDarkColor;
    -fx-min-height: 108;
    -fx-min-width: 108;
}

.sideBarLabel {
    -fx-font-family: 'Raleway Medium', sans-serif;
    -fx-text-fill: secondaryTextColor;
}

.sideBarItem {
    -fx-alignment: CENTER;
}

.sideBarSelected {
    -fx-background-color: primaryDarkColor25;
}

.timelineLabel {
    -fx-font-family: 'Raleway Bold', sans-serif;
    -fx-text-fill: primaryTextColor;
}

.quizLine {
    -fx-pref-height: 2;
    -fx-max-width: 75;
}

.quizBox {
    -fx-background-color: secondaryTextColor;
    -fx-background-radius: 5;
    -fx-pref-width: 145;
    -fx-pref-height: 140;
    -fx-spacing: 6;
    -fx-alignment: CENTER;
}

.quizSub {
    -fx-text-fill: primaryTextColor;
}

.quizBottomLine {
    -fx-border-color: linear-gradient(to bottom, transparent 0%, transparent 99%, lineColor 99%, lineColor 100%);
}

.jfx-progress-bar > .bar {
    -fx-background-color: primaryColor;
    -fx-min-height: 44;
}

.jfx-progress-bar > .track {
    -fx-background-color: secondaryTextColor;
}

.progressBarRound {
    -fx-fill: secondaryTextColor;
}

.progressBarStroke {
    -fx-background-color: transparent;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: primaryColor;
    -fx-border-width: 2;
}

.quizButton, .quizButton:hover, .quizButton:pressed {
    -fx-padding: 9 18 9 18;
    -fx-text-fill: primaryDarkColor;
    -fx-background-color: secondaryTextColor;
    -fx-border-color: primaryColor;
    -fx-border-width: 2;
    -fx-border-radius: 50;
    -fx-alignment: TOP-LEFT;
}

.quizCheck, .quizNotChecked {
    -fx-min-width: 26;
    -fx-background-color: primaryColor;
    -fx-background-radius: 50;
    -fx-alignment: CENTER;
}

.quizNotChecked {
    -fx-background-color: secondaryTextColor;
    -fx-border-radius: 50;
    -fx-border-width: 2;
    -fx-border-color: primaryColor;
}

.checkIcon {
    -fx-rotate: -180;
}